/***************************************/
/* ------------ VARIABLES ------------ */
/***************************************/
:root {
    /* COLOURS */
    --nhs-blue: #005EB8;
    --nhs-light-blue: #41B6E6;
    --scw-blue: #1C355E;
    --nhs-website-grey: #EAEEF9;
    --nhs-mid-grey: #768692;
    --nhs-aqua-blue: #00A9CE;
    --black: #000000;
    --white: #ffffff;
    /* DURATION */
    --hover-transition: 0.3s
   } 

/***************************************/
/* -------------- STYLE -------------- */
/***************************************/

/* -------------- GLOBAL ------------- */
*, ::after, ::before {
    box-sizing: border-box;
}
a {
    cursor: pointer;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
    font-size: 1.25rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
    width: 95%;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

section {
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    height: auto;
}

.content-box {
    display: flex;
    flex-direction: column;
    width: 18.25rem;
    height: 23.0625rem;
    flex-shrink: 0;
    border: 0.5px solid var(--nhs-website-grey);
    background: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-right: 7.65rem;    
}

.button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20em;
}

.button {
    border-width: 1px;
    border-style: solid;
    padding: 15px;
    width: 7.5rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 5px;
}

.button-full {
    background-color: var(--nhs-aqua-blue);
    border-color: var(--nhs-blue);
    color: var(--white);
}

.button-ghost {
    color: var(--white);
    border-color: var(--white);
}

.button-full:hover,
.button-ghost:hover {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--black);
    transition: var(--hover-transition);
}

/* -------------- HEADER ------------- */
.header-section,
.header-left,
.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;   
}

.header-section,
.header-left {
    justify-content: space-between; 
}

.header-left,
.header-right {
    width: 20rem;
}

.header-right {
    justify-content: flex-end;
}

.image-container {
    max-width: 35%;
}

.logo {
    width: 100%;
}

.site-search {
    font-size: medium;
    padding:  2%;
}

/* -------------- FOOTER ------------- */
.footer-component {
    width: 100%;
}

.footer-upper,
.footer-lower {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-upper {
    background-color: var(--scw-blue);
}

.footer-lower {
    background-color: var(--nhs-blue);
    font-size: 0.75rem;
    padding: 30px 0;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: var(--white);
    width: 50%;
}

.footer-upper h3 {
    margin: 0 0 0 5%;
    font-size: 1.7rem;
}

.links-box,
.connect-box {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-right: 5%;
    margin-bottom: 2.5%;
    border-left: 2px solid var(--white);
    width: 40%;
}

.links-box a,
.connect-box a {
    margin-top: 5%;
    margin-left: 5%;
}

.links-box a,
.connect-box a,
.copywright-box a,
.disclaimer-box a {
    color: var(--white);
    text-decoration: none;
    transition: var(--hover-transition);
}

.links-box a:hover,
.connect-box a:hover {
    color: var(--nhs-aqua-blue);
    
}

.copywright-box a:hover,
.disclaimer-box a:hover {
    color: var(--black);
}

.disclaimer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    width: 60%;
}

.disclaimer-box a {
    margin-left: 5%;
}