/***************************************/
/* ------------ VARIABLES ------------ */
/***************************************/
:root {
    /* COLOURS */
    --nhs-blue: #005EB8;
    --nhs-light-blue: #41B6E6;
    --scw-blue: #1C355E;
    --nhs-website-grey: #EAEEF9;
    --nhs-mid-grey: #768692;
    --nhs-dark-grey: #425563;
    --nav-grey: #a4b3be;
    --nhs-aqua-blue: #00A9CE;
    --black: #000000;
    --white: #ffffff;
    /* DURATION */
    --hover-transition: 0.3s
   } 

/***************************************/
/* -------------- STYLE -------------- */
/***************************************/

/* ------------- DOCUMENT ------------ */
*, ::after, ::before {
    box-sizing: border-box;
}
a {
    cursor: pointer;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
    font-size: 1.25rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
    width: 95%;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

section {
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    height: auto;
}

.content-box {
    display: flex;
    flex-direction: column;
    width: 18.25rem;
    height: 33rem;
    flex-shrink: 0;
    border: 0.5px solid var(--nhs-website-grey);
    background: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-right: 7.65rem;    
}

.hidden {
   display: none;
}

h2 {
    font-size: 1.7rem;
    font-weight: bold;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* margin-bottom: 0; */
    line-height: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------- BUTTON ------------ */
.button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20em;
}

.landing-button-box {
    width: 20em;
}

.catalogue-button-box {
    width: 42em;
}

.button {
    border-width: 1px;
    border-style: solid;
    padding: 15px;
    width: 7.5rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 5px;
}

.button-full {
    background-color: var(--nhs-aqua-blue);
    border-color: var(--nhs-blue);
    color: var(--white);
}

.button-ghost {
    color: var(--white);
    border-color: var(--white);
}

.button-full:hover,
.button-ghost:hover {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--black);
    transition: var(--hover-transition);
}

/* --------------- NAV --------------- */
#nav-body {
    width: 75%;
    display: flex;
    flex-direction: row;
    height: 90px;
    
}

nav {
    display: flex;
    background-color: var(--white);
    align-content: center;
    border-bottom: 1px solid var(--nav-grey);
    flex-shrink: 0;
    overflow: hidden;
    justify-content: flex-end;
}

.nav-container,
.filter-container {
    flex-direction: row;
    width: 45%;
}

.filter-container {
    display: none;
}

.nav-container {
    display: flex;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.sticky-product {
    display: block;
    position: fixed;
    top: 1.5%;
    left: 48%;
    z-index: 3;
}

.nav-menu,
.filter-menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 50%;
    justify-content: flex-start;
    list-style-type: none;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0;
    margin-block: 0;
}

.nav-menu li,
.filter-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    transition: var(--hover-transition);
    /* border-left: 1px solid var(--nav-grey); */
}

/* .nav-menu:last-child {
border-right: 1px solid var(--nav-grey);
} */

.nav-menu li a,
.filter-menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    color: inherit;
    height: inherit;
}

.nav-menu li:hover,
.filter-menu li:hover {
    text-decoration: none;
    background-color: var(--nhs-blue);
    color: var(--white);
}

.nav-menu li a:hover
,.filter-menu li a:hover {
    color: inherit
}

/* -------------- HEADER ------------- */
.header-section,
.header-left,
.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;   
}

.header-section,
.header-left {
    justify-content: space-between; 
}

.header-left,
.header-right {
    width: 20rem;
}

.header-right {
    justify-content: flex-end;
}

.image-container {
    max-width: 35%;
}

.logo {
    width: 100%;
}

#product-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.site-search,
.product-search {
    font-size: medium;
}

.site-search {
    padding:  2%;
}

.product-search {
    padding:  5%;
}

/* -------------- FOOTER ------------- */
.footer-component {
    width: 100%;
}

.footer-upper,
.footer-lower {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-upper {
    background-color: var(--scw-blue);
}

.footer-lower {
    background-color: var(--nhs-blue);
    font-size: 0.75rem;
    padding: 30px 0;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: var(--white);
    width: 50%;
}

.footer-upper h3 {
    margin: 0 0 0 5%;
    font-size: 1.7rem;
}

.links-box,
.connect-box {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-right: 5%;
    margin-bottom: 2.5%;
    border-left: 2px solid var(--white);
    width: 40%;
}

.links-box a,
.connect-box a {
    margin-top: 5%;
    margin-left: 5%;
}

.links-box a,
.connect-box a,
.copywright-box a,
.disclaimer-box a {
    color: var(--white);
    text-decoration: none;
    transition: var(--hover-transition);
}

.links-box a:hover,
.connect-box a:hover {
    color: var(--nhs-aqua-blue);
    
}

.copywright-box a:hover,
.disclaimer-box a:hover {
    color: var(--black);
}

.disclaimer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    width: 60%;
}

.disclaimer-box a {
    margin-left: 5%;
}