/* Full HD laptop screen */
@media screen and (max-width: 1920px) {
    
    .nav-menu,
    .filter-menu {
        width: 60%;
    }

    .hero-content h1 {
        margin-block-start: 0;
    }

    .content-box {
        width: 14.3rem;
        margin-right: 2rem;
    }

    .content-box h4 {
        font-size: 1.3rem;
    }

    .content-box p {
        font-size: 0.9rem;
    }

    .catalogue-button-box {
        width: 30.5em;
    }

    .sticky-product {
        top: 2.1%;
    }

    #portfolio-filter-list,
    #product-filter-list,
    #platform-filter-list {
        top: 66.5%;
        min-width: 7.8rem;
        max-width: 42rem;
        max-height: 15rem;
        overflow-y: auto;
    }

    #product-search-list {
        top: 51%;
        left: 46%;
    }
    
    #portfolio-filter-list{
        left: 58.75%;
    }

    #product-filter-list{
        left: 65.5%;
    }

    #platform-filter-list{
        left: 72.23%;
    }

}

/* Large laptop screen */
@media screen and (max-width: 1536px) {
    
    .button {
        font-size: 1rem;
    }
      
    .hero-content h1 {
        font-size: 3.5rem;
    }

    .content-box {
        width: 12.3rem;
        margin-right: 1rem;
    }

    .content-box h4 {
        font-size: 1.1rem;
    }

    .content-box p {
        font-size: 0.85rem;
    }

    .nav-menu li a,
    .filter-menu li span {
        font-size: 0.8rem;
    }

    .catalogue-button-box {
        width: 24.5rem;
    }

    .product-search {
        width: 8rem;
    }

    #product-search-list {
        left: 46.7%;
    }
    
    .sticky-product #product-search-list {
        left: 0;
    }

    .sticky-product {
        top: 3%;
    }

    #product-search-list {
        font-size: 0.8rem;
    }

}

/* Medium laptop screen, iPad Pro landscape */
@media screen and (max-width: 1370px) {

    /* .hero {
        min-height: 50vh;
    } */

    /* .hero-row {
        min-height: 40vh;
    } */
    
    .content-container p {
        font-size: 1.1rem;
    }

    .button {
        font-size: 0.8rem;
    }
     
    .hero-content h1 {
        font-size: 3rem;
    }

    .content-box {
        width: 11rem;
    }
    
    .content-box p {
        font-size: 0.75rem;
    }

    .footer-upper h3 {
        font-size: 1.25rem;
    }

    .links-box a,
    .connect-box a {
        font-size: 0.85rem;
    }

    .catalogue-button-box {
        width: 22.2rem;
    }

    .product-search {
        width: 8rem;
    }

    .sticky-product {
        left: 46%;
    }

    #product-search-list {
        font-size: 0.8rem;
        left: 46%;
    }

    .catalogue-container h2 {
        font-size: 1.5rem;
    }

}

/* Small laptop screen */
@media screen and (max-width: 1280px) {

    .hero-content h1 {
        margin-block-end: 0.5em;
    }
    
    .button {
        padding: 10px;
        width: 6.5rem;
    }

    .content-box {
        width: 10rem;
    }
    
    .content-box p {
        font-size: 0.7rem;
    }

    .catalogue-button-box {
        width: 21rem;
    }

    .product-search {
        width: 8rem;
    }

    .sticky-product {
        top: 3.5%;
        left: 45.5%;
    }

    #product-search-list {
        left: 46%;
    }

    #portfolio-filter-list,
    #product-search-list {
        font-size: 0.8rem;
    }

}

/* Threshold for burger menu */
@media screen and (max-width: 1279px) {

    #nav-bar{
        border: 0;
        background-color: var(--nhs-website-grey);
        justify-content: flex-start;
    }

    #nav-body{
        flex-direction: column;
        justify-content: flex-start;
        width: 28%;
        height: 200px;
        position: absolute;
        top: 52%;
    }

    #nav-container,
    #filter-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    #nav-menu,
    #filter-menu {
        flex-direction: column;
        width: 50%;
        border-style: solid;
        border-color: var(--nhs-mid-grey);
    }

    #nav-menu {
        border-width: 1px;
    }

    #filter-menu {
        border-width: 0 1px 1px 1px;
    }

    #nav-menu li,
    #filter-menu li {
        height: 50px;
        width: 100%;
        justify-content: center;
    }

    #portfolio-filter-list {
        top: 90.5%;
        left: 22.5%;
        max-height: 30rem;
        overflow-y: auto;
        z-index: 4;
        min-width: 5rem;
        max-width: 8.5rem;
    }

    #product-search-list {
        top: 27.6%;
        left: 50.8%;
    }

    .sticky #nav-body {
        position: inherit;
        top: 10%;
    }

    .sticky #nav-body #portfolio-filter-list{
        top: 90%;
    }

    .sticky-product {
        top: 3%;
        left: 80%;
        z-index: 2;
    }

    .sticky-product #product-search-list {
        top: 57%;
        left: 0%;
        min-width: 5rem;
        max-width: 10rem;
    }

}

/* iPad Air landscape*/
@media screen and (max-width: 1180px){
    #nav-body{
        top: 77%
    }

    .sticky #nav-body{
        top: 12%
    }
}

/* iPad Mini landscape*/
@media screen and (max-width: 1024px){
    #nav-body{
        top: 72%
    }

    .sticky #nav-body{
        top: 15%
    }

    .hero-row {
        min-height: 30vh;
        margin-bottom: 5%;
    }

    .intro-section {
        min-height: 30vh;
    }

    .hero {
        min-height: 40vh;
    }
}

/* iPad Pro portrait */
@media screen and (max-width: 1024px) and (max-height: 1366px) {

    .nav-menu{
        width: 70%;
    }

    .hero {
        min-height: 40vh;
    }

    .hero-row {
        min-height: 30vh;
    }

    .content-container-row {
        flex-direction: column;
    }

    .content-box {
        width: 17rem;
        margin-right: 2%;
        margin-bottom: 3rem;
    }

    .content-box h4 {
        font-size: 1.5rem;
    }
    
    .content-box p {
        font-size: 1rem;
    }

    .links-box a,
    .connect-box a {
        font-size: 0.7rem;
    }

    .disclaimer-box {
        margin-left: 2%;
    }

    .disclaimer-box a{
        margin-left: 2%;
        min-width: 5rem;
    }

}

/* iPhone 14 Pro Max landscape */
@media screen and (max-width: 932px) and (max-height: 430px) {

    #nav-body {
        top: 100%
    }

    .sticky #nav-body {
        top: 25%
    }

    #portfolio-filter-list {
        top: 90.5%;
        left: 22.5%;
        max-height: 5.5rem;
        overflow-y: auto;
        z-index: 4;
        min-width: 5rem;
        max-width: 8.5rem;
    }

    .hero {
        min-height: 50vh;
    }

    .hero-landing {
        background-size: auto 100%;
        -moz-background-size: auto 100%;
        -webkit-background-size: auto 100%;
        -o-background-size: auto 100%;
    }

    .hero-row {
        min-height: 50vh;
    }

    .hero-content h1 {
        margin-top: 0;
        margin-bottom: 5%;
        font-size: 2.5em;
    }

    .landing-button-box {
        width: 13em;
    }

    .button {
        width: 5rem;
    }

    .nav-menu {
        width: 75%;
    }

    .filter-container {
        justify-content: flex-end;
    }

    
    #carousel-container {
        margin: 8% 0;
    }

    .content-container p {
        font-size: 0.9rem;
    }

}

/* Surface Pro 7 portrait */
@media screen and (max-width: 912px) and (max-height: 1368px) {
    #nav-body {
        top: 52%
    }

    .sticky #nav-body {
        top: 10%
    }
}

/* Samsung Galaxy S20 Ultra landscape */
@media screen and (max-width: 916px) and (max-height: 413px) {
    #nav-body {
        top: 112%
    }

}

/* iPhone XR landscape*/
@media screen and (max-width: 896px) and (max-height: 414px) {
    .hero-row{
        margin-bottom: 0;
    }

    #nav-body {
        top: 106%
    }

    .sticky #nav-body {
        top: 28%;
    }

}

/* iPad Air portrait */
@media screen and (max-width: 820px) and (max-height: 1180px) {

    .hero-content h1 {
        font-size: 2.5rem;
    }

    #nav-body{
        top: 50%
    }

    .sticky #nav-body{
        top: 10%
    }

    .nav-menu{
        width: 80%;
    }

    .content-box {
        width: 16rem;
        margin-right: 2%;
        margin-bottom: 3rem;
    }

    .content-container p {
        font-size: 0.9em;
    }

    .content-box p {
        font-size: 0.8rem;
    }

    .product-search {
        width: 6rem;
        font-size: small;
    }

    #portfolio-filter-list {
        min-width: 5rem;
        max-width: 7rem;
    }

    .sticky-product #product-search-list {
        top: 46%;
        left: 0%;
        min-width: 7rem;
    }

    .footer-row-upper {
        justify-content: space-between;
    }

    .footer-row-lower {
        font-size: 0.7rem;
    }

}

/* iPad Mini portrait */
@media screen and (max-width: 768px) and (max-height: 1024px) {

    #nav-body{
        top: 61%
    }

    .nav-menu{
        width: 90%;
    }

    .hero-row {
        min-height: 35vh;
    }

    .content-box {
        width: 20rem;
        margin-right: 0;
        margin-bottom: 3rem;
        min-height: 22rem;
        max-height: 27rem;
    }

    .content-box h4 {
        font-size: 1.4rem;
    }
    
    .content-box p {
        font-size: 0.9rem;
    }

}


/* iPhone SE landscape*/
@media screen and (max-width: 668px) and (max-height: 376px) {

    #nav-body {
        top: 105%
    }

    .sticky #nav-body {
        top: 28%;
    }

    #nav-menu,
    #filter-menu {
        width: 65%;
    }

    #portfolio-filter-list {
        left: 15.6%;
        width: 58.5%;
    }

    .sticky-product #product-search-list {
        min-width: 4rem;
        max-width: 6rem;
    }

    .hero-row {
        margin-bottom: 5%;
    }

}


/* iPhone 14 Pro Max portrait */
@media screen and (max-width: 430px) and (max-height: 932px) {

    #burger-menu {
        left: 5%;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    #nav-body{
        top: 45%;
        width: 30%;
    }

    #nav-container,
    #filter-container {
        width: 100%;
        justify-content: flex-start;
        
    }

    #nav-menu,
    #filter-menu {
        width: 100%;
    }

    #nav-menu,
    #filter-menu,
    #portfolio-filter-list {
        background-color: var(--nhs-mid-grey);
        color: var(--white);
        border-color: var(--black);
    }

    #product-search-container.sticky-product {
            display: none;
        }

    .nav-menu li a {
        width: 100%;
    }

    #portfolio-filter {
        width: 100%;
    }

    #portfolio-filter-list{
        top: 92.50%;
        left: 0
    }

    .hero {
        min-height: 20vh;
        max-height: 35vh;
    }

    .hero-row {
        width: 75%;
    }

    .hero-content h1 {
        font-size: 1.9rem;
        margin-bottom: 13%;
        width: 100%;
    }

    .landing-button-box {
        width: 13rem;
    }

    .button-box {
        width: 15rem;
    }

    .button {
        width: 5.5rem;
    }
  
    .content-container {
        width: 65%;
    }
  
    .content-container p {
        font-size: 0.8rem;
    }

    .content-container-row {
        justify-content: center;
        align-items: center;
    }

    .intro-section {
        padding-bottom: 10%;
    }

    .intro-container p {
        font-size: 0.7rem;
        line-height: 250%;
        text-align: center;
    }

    .catalogue-row-box {
        width: 100%;
    }

    .content-box {
        width: 10rem;
        margin-bottom: 3rem;
    }

    .content-box h4 {
        font-size: 1.3rem;
    }
    
    .content-box p {
        font-size: 0.8rem;
    }

    .carousel-catalogue-container {
        width: 82%;
        margin-left: 2.5%;
    }

    .carousel-catalogue-container .content-box {
        margin-right: 5%;
    }

    .scroll-right,
    .scroll-left {
        width: 9%;
    }

    .scroll-right-arrow {
        margin-left: 10%;
    }

    .scroll-right-arrow,
    .scroll-left-arrow {
        font-size: 1.5rem;
    }

    .product-carousel-section {
        width: 80%;
        margin-left: 15%;
        justify-content: flex-start;
        flex-direction: row;
    }

    .product-content-box {
        width: 100%;
    }
    
    .product-button-box{
        margin-top: 10%;
    }
    
    .product-button-box a{
        font-size: 0.9rem;
    }

    #carousel-container {
        width: 90%;
    }

    .footer-row {
        width: 58%;
    }

    .links-box,
    .connect-box {
        width: 50%;
    }

    .links-box a,
    .connect-box a {
        margin-bottom: 0.5rem;
    }

    .links-box h3,
    .connect-box h3 {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
    }

    .disclaimer-box {
        margin-left: 5%;
        flex-direction: column;
        align-items: flex-start;
    } 

    .disclaimer-box a {
        margin-left: 0;
        margin-bottom: 0.5rem;
    } 

}

/* iPhone XR portrait*/
@media screen and (max-width: 414px) and (max-height: 896px) {

    #nav-body{
        top: 60%;
    }

    .hero {
        min-height: 40vh;;
        max-height: 50vh;
    }

    .hero-row {
        min-height: 40vh;
    }
    
    #carousel-container {
        width: 90%;
        margin: 8% 0;
    }
}
