/***************************************/
/* ---------- COLOUR SCHEME ---------- */
/***************************************/
:root {

    --nhs_blue: #005EB8;
    --nhs_light_blue: #41B6E6;
    --scw_blue: #1C355E;
    --nhs_website_grey: #EAEEF9;
    --nhs_mid_grey: #768692;
    --nhs_aqua_blue: #00A9CE;
    --black: #000000;
    --white: #ffffff;
   } 

/***************************************/
/* -------------- STYLE -------------- */
/***************************************/

/* -------------- GLOBAL -------------- */

.content-box {
    display: flex;
    flex-direction: column;
    width: 18.25rem;
    height: 23.0625rem;
    flex-shrink: 0;
    border: 0.5px solid var(--nhs_website_grey);
    background: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-right: 7.65rem;    
}

.button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20em;
}

.button {
    border-width: 1px;
    border-style: solid;
    padding: 15px;
    width: 5em;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.25rem;
}

.button-full {
    background-color: var(--nhs_aqua_blue);
    border-color: var(--nhs_blue);
    color: var(--white);
}

.button-ghost {
    color: var(--white);
    border-color: var(--white);
}

.button-full:hover,
.button-ghost:hover {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--black);
    transition: 0.3s;
}

/* -------------- HEADER ------------- */
header {
    width: 95%;
}

/* --------------- HERO -------------- */
.hero-landing {
    background-size:cover;
    -moz-background-size: auto 80%;
    -webkit-background-size: auto 80%;
    -o-background-size: auto 80%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-image: url(../images/img/landing.jpg); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.192), rgba(0, 0, 0, 0.192)), url(../images/img/landing.svg);
    background-color: var(--nhs_website_grey);
    height: 60vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    width: 60%;
    margin: 0 0 6% 10%;
}

.hero-content h1 {
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
    width: 10em;
    color:  var(--white);
    -webkit-text-stroke: 0.3px var(--nhs_mid_grey);
}

/* --------------- NAV --------------- */
nav {
    height: 90px;
    background-color: var(--white);
    align-content: center;
    border-bottom: 1px solid;
    flex-shrink: 0;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 25%;
    justify-content: flex-start;
    list-style-type: none;
    align-items: center;
    margin: 0 0 0 25%;
    cursor: pointer;
}

.nav-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
}

.nav-menu li a {
    text-decoration: none;
    text-align: center;
    width: 33%;
}

.nav-menu li:hover {
    text-decoration: none;
    background-color: var(--nhs_blue);
    color: var(--white);
    transition: 0.3s;
}

/* ------------- CONTENT ------------- */
.intro-section,
.content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.intro-section {
    height: 50vh;
    background-color: var(--nhs_website_grey);
}

.content-section {
    height: 100vh;
}

.intro-container,
.recent-container {
    margin: 5% 0 0 22.5%;
}

.intro-container p {
    line-height: 225%;
    margin-top: 8%;
}

.content-container {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.empty-div {
    width: 25%;
}

.content-container-row {
    display: flex;
    flex-direction: row;
    margin-top: 7.65rem;
}

.content-box h4 {
    font-size: 1.50rem;
    margin-bottom: 1em;
}

.content-box h4,
.content-box p {
    padding-left: 5%;
}

.content-box p {
    line-height: 150%;
    font-size: 1.1rem;
}

.product-img-box {
    width: 100%;
}

.product-img {
    width: 100%;
    object-fit: scale-down;
}