/***************************************/
/* -------------- STYLE -------------- */
/***************************************/

/* ---------------------------------------------------- */
/* ----------------------- HERO ----------------------- */
/* ---------------------------------------------------- */
.hero {
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-image: url(../images/img/landing.jpg); */
    background-color: var(--nhs-website-grey);
    min-height: 60vh;
    justify-content: space-between;
    align-items: center;
}

.hero-landing {
    background-size: auto 80%;
    -moz-background-size: auto 80%;
    -webkit-background-size: auto 80%;
    -o-background-size: auto 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.192), rgba(0, 0, 0, 0.192)), url(../images/img/landing.svg);
}

.hero-catalogue {
    background-size: auto 78%;
    -moz-background-size: auto 78%;
    -webkit-background-size: auto 78%;
    -o-background-size: auto 78%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.592), rgba(0, 0, 0, 0.592)), url(../images/img/catalogue.svg);
}

.hero-product {
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.392), rgba(0, 0, 0, 0.392)), url(../images/img/product.svg); */
}

.hero-row {
    display: flex;
    width: 50%;
    min-height: 45vh;
    flex-direction: column;
    justify-content: flex-start;
}

.hero-content {
    width: 100%;
}

.hero-content-product {
    padding-top: 5%;
}

.hero-content h1 {
    width: 100%;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
    width: 10em;
    color:  var(--white);
    -webkit-text-stroke: 0.3px var(--nhs-mid-grey);
}

/* ---------------------------------------------------- */
/* --------------------- CONTENT ---------------------- */
/* ---------------------------------------------------- */
.intro-section,
.content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.intro-section {
    min-height: 37vh;
    background-color: var(--nhs-website-grey);
    padding-bottom: 3%;
}

.catalogue-row-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.scroll-right,
.scroll-left {
    width: 5%;
    cursor: pointer;
}

.scroll-right-arrow,
.scroll-left-arrow {
    width: 100%;
    color: var(--nhs-blue);
    font-size: 2rem;
}

.scroll-right-arrow:hover,
.scroll-left-arrow:hover {
    transition: var(--hover-transition);
    color: var(--black);
}

.carousel-catalogue-container {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 80%;
    /* border: 5px ridge var(--nhs-blue); */
    padding: 2% 0;
    /* background-image: linear-gradient(135deg, transparent 49%, var(--nhs-mid-grey) 50%, transparent 51%); */
    /* background-size: 40px 40px; */
}

.content-section {
    padding: 3% 0 5% 0;
    min-height: 30vh;
}

.catalogue-portfolio-desc {
    margin: 2% 0;
}

.catalogue-product-desc {
    margin-block-start: 0em;
}

.intro-container {
    margin: 3% 0 0 0;
}

.intro-container p,
.catalogue-container p,
.product-title-container {
    line-height: 225%;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.intro-container p,
.catalogue-container p,
.product-title-container,
.catalogue-portfolio-desc {
    line-height: 225%;
}

.intro-container p,
.product-title-container {
    margin-top: 0;
}

.intro-container h2 {
    text-align: center;
}

.content-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.catalogue-container {
    align-items: center;
}

.product-carousel-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.carousel-container {
    width: 100%;
    padding-top: 3%;
}

.product-content-box {
    width: 50%;
}

.product-button-box a.button-full{
    margin-right: 5%;
}

.product-button-box a.button-full:hover{
    text-decoration: none;
    background-color: var(--nhs-blue);
    color: var(--white);
}

.product-button-box .share-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    width: 20%;
    transition: var(--hover-transition);
    white-space: nowrap;
}

.product-button-box .share-link:hover {
    color: var(--nhs-blue);
    text-decoration: none;
}

.product-button-box .share-link span {
    display: flex;
    width: 100%;
    align-self: stretch;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.box-container {
    width: 100%;
}

.empty-div {
    width: 25%;
}

.content-container-row {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    margin-bottom: 4%;
}

.content-box h4 {
    font-size: 1.25rem;
    margin: 1em 0 0.5em 0;
    min-height: 1rem;
    max-height: auto;
}

.content-box a {
    color: var(--nhs-blue);
    text-decoration: none;
}

.content-box a:hover {
    color: var(--black);
    transition: var(--hover-transition);
}

.content-box h4,
.content-box p {
    padding-left: 5%;
}

.content-box p {
    line-height: 150%;
    font-size: 1.1rem;
    width: 95%;
    padding-bottom: 3%;
}

.product-img-box {
    width: 100%;
}

.product-img {
    width: 100%;
    object-fit: scale-down;
}

.product-details {
    background-color: var(--nhs-website-grey);
}

#carouselIndicators {
    border: 10px solid var(--black);
    border-radius: 15px;
}

.carousel-indicators li {
    background-color: var(--nhs-mid-grey);
}

.carousel-indicators .active{
    background-color: var(--black);
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%25563' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%25563' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

/* ---------------------------------------------------- */
/* ------------- SEARCH AND FILTER LISTS -------------- */
/* ---------------------------------------------------- */

#portfolio-filter {
    width: 33%;
}

#product-search-list,
#portfolio-filter-list,
#product-filter-list,
#platform-filter-list {
    position: absolute;
    list-style-type: none;
    background-color: var(--nhs-website-grey);
    padding-inline-start: 0;
    border: solid 1px var(--nhs-mid-grey);
}

#product-search-list {
    top: 43.5%;
    left: 46.25%;
    min-width: 15rem;
    max-width: 15rem;
    max-height: 12rem;
    overflow-y: auto;
}

#portfolio-filter-list,
#product-filter-list,
#platform-filter-list {
    top: 65.1%;
    min-width: 7.8rem;
    max-width: 42rem;
    max-height: 20rem;
    overflow-y: auto;
}

#portfolio-filter-list{
    left: 58.8%;
}

#product-filter-list{
    left: 64.4%;
}

#platform-filter-list{
    left: 70%;
}

#product-search-list li {
    padding: 2% 0 2% 2%;
    border-bottom: solid 1px var(--nhs-mid-grey);
    pointer-events: none;
}

#product-search-list li:hover {
    background-color: var(--nhs-blue);
    transition: var(--hover-transition);
}

#product-search-list li a {
    text-decoration: none;
    color: var(--black);
    pointer-events: auto;
}

#product-search-list li a:hover {
    color: var(--white);
    text-shadow: 
    1px 1px 0 var(--black);
    transition: var(--hover-transition);
}

#portfolio-filter-list li,
#product-filter-list li,
#platform-filter-list li {
    padding: 5px 5px 5px 0;
}

.hide-search-results,
.hide-filter {
    display: none;
}